Com.MM.Service.Warehouse.Lib/bin
Com.MM.Service.Warehouse.Lib/obj
Com.MM.Service.Warehouse.WebApi/bin
Com.MM.Service.Warehouse.WebApi/obj
Com.MM.Service.Warehouse.WebApi/appsettings.json
Com.MM.Service.Warehouse.WebApi/Properties/launchSettings.json